{% extends "account/base.html" %}
{% load i18n %}
{% load form_helpers %}
{% block content %}
<title>Parolni tiklash</title>
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-5">
          <h3 class="mb-4 text-center">Parolni tiklash</h3>
          <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {{ form.email|add_class:"form-control" }}
            <div class="d-grid mt-3">
              <button type="submit" class="btn btn-primary">Yuborish</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
