{% extends "account/base.html" %}
{% load form_helpers %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-5">
          <h3 class="mb-4 text-center">Yangi parol</h3>
          <form method="post">
            {% csrf_token %}
            {{ form.password1|add_class:"form-control" }}
            {{ form.password2|add_class:"form-control mt-3" }}
            <div class="d-grid mt-3">
              <button type="submit" class="btn btn-primary">Saqlash</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
